/*  Header Section  */
ul {
    list-style-type: none;
}

.top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    height: 50px;
    background-color:#1b2a31;
}

.menu {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.nav {
    float: right;
    margin-top: 10px;
    font-size: 0;
}

.nav li {
    display: inline-block;
    margin-left: 40px;
}

.nav a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #d5d7d6;
    text-decoration: none;
}

.nav a:hover {
    color:#fff;
}
